body{
    /* background:url(../image/background/background-1.jpg); */
    background: rgb(66, 66, 66);
}
  
  /* keyframes for rotating animation */
  /* @-webkit-keyframes spin {
    from { transform: rotateY(0) rotateX(0); }
    to   { transform: rotateY(360deg) rotateX(360deg); }
  } */
  
  /* scene wrapper */
  .wrapper{
    height: 600px;
    width: 600px;
    margin-top: 0;
    position:relative;
    perspective: 800px;
    perspective-origin: 50% 50%;
    border: solid 2px black;
    background:rgb(80, 80, 80);
  }

  .ox{
    position: absolute;
    margin-top: 5%;
    width: 50%;
    height: 0px;
    border-top: brown solid 1px;
    transform-style: preserve-3d;
  }
  
  .oy{
    position: absolute;
    margin: 0 50%;
    width: 0px;
    height: 50%;
    bottom: 0;
    border-left: rgb(42, 173, 49) solid 1px;
    transform-style: preserve-3d;
  }
  

  .wrapper3D{
    position: absolute;
    transform-style: preserve-3d;
    animation: spin 4s infinite linear;
    /* transition: all 1s linear; */
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    width: 50px;
    height: 50px;
  }

  

  #cubeAxis{
    margin: calc(50% - 25px) calc(50% - 25px);
  }
  /* #cube1{
    transform: translate3d(100%, 0%, 0px);
  }

  #cube2{
    transform: translate3d(-100%, 0%, 0px);
  } */


  o {
    position:absolute;
    top:0px;
    width:100%;
    height:100%;
    display:block;
    /* background: #ffd700c4; */
    /* border: 1px solid lime; */
  }


  b{
    position:absolute;
    /* width:200px;
    height:200px; */
    width: 100%;
    height: 100%;
    display:block;
    background:rgba(255,255,255,0.1);
    box-shadow:inset 0 0 30px rgba(0,0,0,0);
    font-size:20px;
    text-align:center;
    line-height:200px;
    color:rgba(0, 0, 0, 0);
    font-family:sans-serif;
    text-transform:uppercase;
    transition: all 1s linear;
    /* margin-left: calc(50% - 100px);
    margin-top: calc(50% - 100px); */
    box-shadow: inset 1px 1px 0px black, inset -1px -1px 0px black;

  }

  
  /* outer cube */
  /* b{
    position:absolute;
    width:200px;
    height:200px;
    display:block;
    background:rgba(255,255,255,0.1);
    box-shadow:inset 0 0 30px rgba(0,0,0,0.2);
    font-size:20px;
    text-align:center;
    line-height:200px;
    color:rgba(0,0,0,0.5);
    font-family:sans-serif;
    text-transform:uppercase;
    transition: all 1s linear;
  }*/
  b.back{
    transform-origin: left center;
    transform: rotateY(-90deg) translateX(-100%); 
    background: #0B0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  b.right{
    transform:rotateY(-270deg);
    right: -50%;
    background: rgba(255, 0, 0, 1);
    transform-style: preserve-3d;
  }
  b.left{
    transform: rotateY(270deg);
    left: -50%;
    background: rgba(255, 136, 0, 1);
    transform-style: preserve-3d;
  }
  b.top{
    transform: rotateX(-90deg);
    top: -50%;
    background: rgb(251, 255, 0);
  }
  b.bottom{
    transform: rotateX(90deg);
    bottom: -50%;
    background: rgba(255, 255, 255, 1);
  }
  b.front{
    transform-origin: left center;
    transform: rotateY(-90deg) translateX(-100%); 
    background: rgb(0, 66, 219);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }  



  o.x{
    
  }
  
  /* inner cube */
  /*i{
    position:absolute;
    top:50px;
    left:50px;
    width:100px;
    height:100px;
    display:block;
    background:url(static/image/gafa/google.jpg);
    transition: all 1s linear;
  }
  i.front{
    transform: translateZ(50px);
  }
  i.back{
    transform: translateZ(-50px) rotateY(180deg);
  }
  i.bottom{
    transform:rotateX(-90deg) translateY(50px);
    transform-origin: left bottom;
  }
  i.left{
    transform:rotateY(270deg) translateX(-50px);
    transform-origin: center left;
  }
  i.right{
    transform:rotateY(-270deg) translateX(50px);
    transform-origin: top right;
  }
  i.top{
    transform:rotateX(-270deg) translateY(-50px);
    transform-origin: left top;
  }*/
  
