/* Valeurs de perspective-origin (uniques pour chaque exemple) */


@-webkit-keyframes spin {
    from { transform: rotateX(0); }
    to   { transform: rotateX(360deg); }
}


  .pomm {
    perspective-origin: 50% 50%;
    animation: spin 40s infinite linear;
    /* transition: all 1s linear;  */
  }

  
  
  /* On définit le conteneur, le cube et une face générique */
  .container {
    width: 800px;
    height: 800px;
    margin: 24px;
    border: 2px solid black;
  }
  
  .cube {
    width: 100px;
    height: 100px;
    margin-top: calc( 50% - 100px);
    margin-left: calc( 50% - 100px);
    backface-visibility: visible;
    perspective: 800px;
    transform-style: preserve-3d;
  }
  
  .face {
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    border: none;
    line-height: 100px;
    font-family: sans-serif;
    font-size: 60px;
    color: white;
    text-align: center;
  }
  
  /* On définit chaque face */
  .front {
    background: #444C;
    transform: translateZ(50px);
  }
  .back {
    background: rgba(0, 255, 0, 1);
    color: black;
    transform: rotateY(180deg) translateZ(50px);
  }
  .right {
    background: rgba(196, 0, 0, 0.7);
    transform: rotateY(90deg) translateZ(50px);
  }
  .left {
    background: rgba(0, 0, 196, 0.7);
    transform: rotateY(-90deg) translateZ(50px);
  }
  .top {
    background: rgba(196, 196, 0, 0.7);
    transform: rotateX(90deg) translateZ(50px);
  }
  .bottom {
    background: rgba(196, 0, 196, 0.7);
    transform: rotateX(-90deg) translateZ(50px);
  }
  
  /* On améliore la disposition */
  section {
    background-color: #EEE;
    padding: 10px;
    font-family: sans-serif;
    text-align: left;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }